@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

body {
  background-color: coral;
  display: grid;
  grid-template-columns: 0.25fr 0.75fr 1fr 0.25fr;
  grid-template-rows: 0.125fr 0.125fr 1fr 0.125fr;
  height: 100vh;
  width: 100vw;
  font-family: sans-serif;
}

header {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: aqua;
  align-content: center;
  text-align: center;
  font-size: 40px;
  border-radius: 10px;
}

footer {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
  align-content: center;
  text-align: center;
}

#form-heading-container {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  align-content: center;
  text-align: center;
  font-size: 30px;
}

#post-heading-container {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  align-content: center;
  text-align: center;
  font-size: 30px;
}

#form-submit {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: rgb(255, 0, 255);
  margin: 10px;
  align-content: center;
  justify-items: center;
}

#form-comments {
  display: flex;
  flex-direction: column;
  margin: 5px;
  gap: 10px;
  justify-content: center;
  justify-items: center;
  max-width: 500px;
}

#post-submit {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: blueviolet;
  margin: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: auto;
  overflow-x: hidden;
}

div.comment {
  background-color: white;
  margin: 10px;
  white-space: pre-line;
}
