@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

body {
  display: grid;
  grid-template-columns: 0.25fr 0.75fr 1fr 0.25fr;
  grid-template-rows: 0.125fr 0.125fr 1fr 0.125fr;
  height: 100vh;
  width: 100vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url(./images/brian.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  align-content: center;
  text-align: center;
  font-size: 40px;
  color: white;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.6),
    rgba(22, 124, 165, 0.76)
  );
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
}

footer {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
  align-content: center;
  text-align: center;
  color: white;
}

#form-heading-container {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  align-content: center;
  text-align: center;
  font-size: 30px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 15px;
  border-radius: 10px;
}

#post-heading-container {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  align-content: center;
  text-align: center;
  font-size: 30px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 15px;
  border-radius: 10px;
}

#form-submit {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  margin: 10px;
  color: white;
  border-radius: 10px;
  justify-items: center;
}

#form-comments {
  display: flex;
  flex-direction: column;
  margin: 5px;
  gap: 10px;
  align-items: center;
  background-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.6),
    rgba(22, 124, 165, 0.76)
  );
  border-radius: 10px;
  padding: 10px;
}

#post-submit {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  gap: 10px;
}

div.comment {
  margin: 5px;
  white-space: pre-line;
  border-radius: 10px;
  padding: 5px;
  color: white;
  font-size: 20px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.6),
    rgba(22, 124, 165, 0.76)
  );
}

#hidden-thanks {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  display: none;
  justify-content: center;
  justify-items: center;
}

#hidden-thanks img {
  width: 100%;
  height: auto;
}

h2 {
  font-size: 15px;
  margin: 10px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px;
  border-radius: 10px;
  margin: 15px;
}

#submit-form-button {
  cursor: pointer;
}

input:invalid {
  border: 2px solid red;
}

input:valid {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.3),
    rgba(27, 165, 22, 0.76)
  );
}

textarea:invalid {
  border: 2px solid red;
}

textarea:valid {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.3),
    rgba(27, 165, 22, 0.76)
  );
}
input:invalid:required {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.3),
    rgba(22, 124, 165, 0.76)
  );
}

textarea:invalid:required {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.3),
    rgba(22, 124, 165, 0.76)
  );
}

::placeholder {
  color: rgba(0, 0, 0, 0.7);
}

@media (max-width: 480px) {
  * {
    touch-action: manipulation;
  }
  body img {
    height: auto;
    width: 480;
  }
  body {
    display: grid;
    grid-template-columns: 1fr;
    height: 100vh;
    width: 100vw;
    background-image: url(./images/brian-mobile.webp);
  }
  header {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 25px;
    padding: 10px;
    border-radius: 0;
  }
  #form-heading-container {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 20px;
    border-right: 0px;
  }
  #form-submit {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    font-size: 15px;
  }

  #hidden-thanks {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  #post-heading-container {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    font-size: 20px;
    border-left: 0px;
  }
  #post-submit {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
    font-size: 15px;
  }
  footer {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 7;
    font-size: 15px;
  }
  div.comment {
    font-size: 15px;
  }
}
