@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

body {
  background-color: coral;
  display: grid;
  grid-template-columns: 0.25fr 0.75fr 1fr 0.25fr;
  grid-template-rows: 0.25fr 0.25fr 1fr 0.25fr;
  height: 100vh;
  width: 100vw;
}

header {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: aqua;
  align-content: center;
  text-align: center;
  font-size: 30px;
}

footer {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
  background-color: aquamarine;
  align-content: center;
  text-align: center;
}

#form-heading-container {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

#post-heading-container {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

#form-submit {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: chartreuse;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 10px;
  gap: 5px;
  justify-content: center;
  max-width: 500px;
}

#post-submit {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: blueviolet;
  margin: 10px;
}
